* {
    text-align: center;
    
}
body {
    background-color: green;
    width: 800px;
    height: 800px;
    border: 2px solid black;
    
  
 
}
h1 {
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color: white;
}
p {
    text-align: center;
    color: white;
    font-size: 1rem;
}
section {
    
    color: greenyellow;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    
}
section > div {
    width: 3rem;
    height: 3rem;
    background-color: white;
    text-align: center;
    vertical-align: center;
    border: 1px solid greenyellow;
    font-family: monospace;
    margin: 1px;
      

}
section > div :hover{
    color: brown;
}

label {
    color: white;
}
select {
    color:white;
    background-color: inherit;
}
#manForHung {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    position: relative;
    left: 300px;
    
}
#boxText {
   
    position: relative;
    left: 300px;
  
   
}
#hint{
    width: 50px;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    color: white;
    
    float: left;
    margin-top: 1rem;
    
}
#playAgain {
    width: 150px;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    color: white;
    position: relative;
    float: left;
    margin-left: 0.5rem;
    
    margin-top: 1rem ;
}
#wordForGuess {
    font-size: 3rem;
    font-kerning: 0.2rem;
    font-family: monospace;
}
#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display: block;
  }
  
  #my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
  }